<ng-container *transloco="let t">
  <main *ngIf="selectedRowData$ | async as selectedRowData">
    <mat-card *ngIf="selectedRowData.length !== 0">
      <anihis-form
        [formData]="formData"
        [form]="form"
        (formDataSubmit)="submit($event)"
      ></anihis-form>
    </mat-card>
    <ng-container
      *ngIf="(loadingService.isLoading$ | async) === false; else loading"
    >
      <anihis-new-owners
        *ngIf="selectedRowData.length === 0"
      ></anihis-new-owners>
    </ng-container>
  </main>
</ng-container>
<ng-template #loading>
  <div class="loading-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
