<ng-container *transloco="let t">
  <ng-container
    *ngIf="(loadingService.isLoading$ | async) === false; else loading"
  >
    <main *ngIf="selectedRowData$ | async as selectedRowData">
      <div *ngIf="selectedRowData.length !== 0">
        <p class="cursor back-btn" (click)="back()">{{ t('Back') }}</p>
      </div>

      <mat-card *ngIf="selectedRowData.length !== 0">
        <anihis-form
          [formData]="formData"
          [form]="form"
          [buttons]="buttons"
          (formDataSubmit)="submit($event)"
        ></anihis-form>
      </mat-card>
      <div *ngIf="selectedRowData.length !== 0" class="back-btn"></div>
      <anihis-new-owners
        *ngIf="selectedRowData.length === 0"
      ></anihis-new-owners>
    </main>
  </ng-container>
  <ng-template #loading> <mat-spinner></mat-spinner> </ng-template
></ng-container>
