main {
  justify-content: space-between;
  height: 100%;
  .back-btn {
    padding: 0px 24px;
    width: 80px;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add-new-owner-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
    button {
      background: #00142f;
      color: #fff;
    }
  }

  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
  }
}

.lastName,
.firstName,
.city,
.address,
.phoneNumber,
.mobileNumber,
.personalNumber,
.idCardNumber,
.email,
.warning,
.actionOwner {
  width: 9%;
}
