<ng-container *transloco="let t">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="two-column">
      <ng-container *ngFor="let field of formData">
        <mat-form-field
          *ngIf="field.inputType === 'input'"
          appearance="outline"
        >
          <mat-label>{{ t(field.label) }} </mat-label>
          <input
            matInput
            autocomplete="on"
            type="{{ field.type }}"
            formControlName="{{ field.formControlName }}"
            [readonly]="field.readonly"
            [required]="field.required"
          />
        </mat-form-field>
        <mat-form-field
          *ngIf="field.inputType === 'select'"
          appearance="outline"
        >
          <mat-label>{{ t(field.label) }} </mat-label>

          <mat-select
            autocomplete="on"
            formControlName="{{ field.formControlName }}"
            [required]="field.required"
          >
            <mat-option
              *ngFor="let option of field.options"
              [value]="option.value"
              >{{ option.viewValue }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="field.inputType === 'date'" appearance="outline">
          <mat-label>{{ t(field.label) }} </mat-label>

          <input
            matInput
            [matDatepicker]="picker"
            formControlName="{{ field.formControlName }}"
            [required]="field.required"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div *ngIf="field.inputType === 'checkbox'">
          <mat-label style="display: flex; align-items: center; height: 56px"
            >{{ t(field.label) }}

            <mat-checkbox
              formControlName="{{ field.formControlName }}"
              [required]="field.required"
            ></mat-checkbox
          ></mat-label>
        </div>
      </ng-container>
    </div>
    <div class="button-submit-wrapper">
      <ng-container *ngFor="let button of buttons">
        <ng-container *ngIf="button.functionBtn === 'clear'; else submitBtn">
          <button
            mat-button
            (click)="performAction(button.functionBtn)"
            type="button"
          >
            {{ t(button.text) }}
          </button>
        </ng-container>
        <ng-template #submitBtn>
          <button
            mat-raised-button
            (click)="performAction(button.functionBtn)"
            type="button"
          >
            {{ t(button.text) }}
          </button>
        </ng-template>
      </ng-container>
    </div>
  </form>
</ng-container>
