.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  margin: 24px 24px 0px 24px;
}

.full-row {
  margin: 0px 24px;
  display: flex;
  flex-direction: column;
  mat-form-field {
    width: 100%;
  }
}

.button-submit-wrapper {
  display: flex;
  margin: 40px 24px 24px 24px;
  gap: 16px;
  button {
    background: #00142f !important;
    color: #fff !important;
    width: 100%;
    padding: 24px 0px !important;
  }
}

.text {
  display: flex;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align {
  display: none !important
  ;
}
