<ng-container *transloco="let t">
  <div class="header-wrapper-dialog">
    <h2 mat-dialog-title>{{ t('New vet') }}</h2>

    <button mat-button (click)="closeDialog()">
      <span class="material-symbols-outlined"> close </span>
    </button>
  </div>

  <form [formGroup]="form">
    <div class="two-column">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Licence number') }} </mat-label>
        <input matInput formControlName="licenceNumber" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ t('First name') }} </mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ t('Last name') }} </mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ t('Email') }} </mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ t('Phone number') }} </mat-label>
        <input matInput formControlName="phoneNumber" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ t('Mobile number') }} </mat-label>
        <input matInput formControlName="mobileNumber" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ t('Username') }} </mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
    </div>
    <div class="btn-save-wrapper">
      <button mat-raised-button (click)="saveChanges()">{{ t('Save') }}</button>
    </div>
  </form>
</ng-container>
