.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-new-owner-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
  button {
    background: #00142f;
    color: #fff;
  }
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 24px;
}

mat-card {
  margin: unset !important;
  width: 100% !important;
  padding: 16px !important;
}
