section {
  display: flex;
  justify-content: center;
  mat-card {
    width: 90%;
    margin: 40px;
    .mat-mdc-table {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px !important;
    }
  }
}
