@use '@angular/material' as mat;
@use './theme/font';
@use './theme/theme';
@import '~@ng-select/ng-select/themes/material.theme.css';

//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);

// Light Mode boje
$primary-color-light: #007bff;
$background-color-light: #ffffff;
$text-color-light: #333333;

// Dark Mode boje
$primary-color-dark: #00cc66;
$background-color-dark: #121212;
$text-color-dark: #ffffff;

.light-theme {
  background-color: $background-color-light;
  color: $text-color-light;
}

.dark-theme {
  background-color: $background-color-dark;
  color: $text-color-dark;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

anihis-toolbar {
  mat-toolbar {
    justify-content: space-between;
    background: #00142f !important;
    h1,
    span,
    label {
      color: #fff;
    }
  }

  img {
    width: 30px;
    height: 30px;
  }
}

// MATERIAL
.mat-tab-header,
.mat-tab-label-active {
  --mdc-secondary-navigation-tab-container-height: 36px;
}
.mat-mdc-tab {
  .mdc-tab-indicator {
    background: #ead6bd;
  }
  .mdc-tab__text-label {
    color: #504e63 !important;
    font-weight: 700;
  }
}
.mdc-tab--active {
  .mdc-tab-indicator {
    background: #504e63;
    border-left: 5px solid #a88661 !important;
  }
  .mdc-tab-indicator__content--underline {
    border: unset !important;
  }
  .mdc-tab__text-label {
    color: #ead6bd !important;
  }
}

.mdc-tab__text-label {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}
.mdc-tab__content {
  width: 100% !important;
}

mat-list {
  div {
    p {
      line-height: 16px;
      font-size: 0.75rem !important;
    }
  }

  mat-list-item {
    span {
      line-height: 16px;
      font-size: 0.75rem !important;
    }
  }

  .mdc-list-item {
    padding: 0px 8px;
  }
}

.mat-mdc-menu-content {
  padding-bottom: 0px !important;
  hr {
    margin-bottom: 0px !important;
  }

  .mat-mdc-menu-item-text {
    display: flex;
    gap: 16px;
  }
}

.mdc-button__label {
  display: flex;
}

// MATERIAL -END-

// scroll
body {
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #00142f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ead6bd;
    border-radius: 20px;
    // border: 1px solid #a88661;
  }
}
// scroll -END-
.cursor {
  cursor: pointer;
}

.mat-tab-header-pagination.mat-tab-header-pagination-disabled {
  display: none !important;
}

.mat-mdc-table {
  thead {
    background: #504e63 !important;
    th {
      color: #ead6bd !important;
    }
  }

  .mat-mdc-row:hover {
    background-color: #ead6bd !important;
    color: #504e63 !important;
  }

  .mat-mdc-paginator {
    background: #504e63 !important;
    color: #ead6bd !important;
  }
}

mat-card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px !important;
  .mat-mdc-tab-body-wrapper {
    height: 67.8vh !important;
  }
  border-radius: 8px !important;
}

div.mat-mdc-select-panel {
  padding: unset !important;
}

mat-paginator,
table {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 24px;
  border-top-left-radius: 9px;
}
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 24px;
  border-top-right-radius: 9px;
}

.mat-mdc-button {
  --mat-mdc-button-persistent-ripple-color: unset !important;
}

.header-wrapper-dialog {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
  align-items: center;
}

.mat-mdc-menu-content {
  padding: 0px !important;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0px 8px !important;
}

.loading-wrapper {
  display: flex;
  align-items: center;
}
