<ng-container *transloco="let t">
  <!-- TODO sirina kolona  -->

  <div
    style="
      margin-top: 24px;
      width: 100%;
      display: flex;
      justify-content: center;
    "
  >
    <form [formGroup]="form" style="width: 90%">
      <div class="row" style="gap: 16px">
        <mat-form-field appearance="outline">
          <mat-label>{{ t('Name Animal') }} </mat-label>
          <input matInput formControlName="nameAnimal" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('Breed') }} </mat-label>
          <input matInput formControlName="breed" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('Date of birth') }} </mat-label>
          <input matInput formControlName="dateOfBirth" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('Last name') }} </mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('First name') }} </mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('Address') }} </mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('City') }} </mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>
      </div>
    </form>
  </div>

  <section>
    <div class="wrapper">
      <!-- <ng-container *ngIf="data$ | async as data; else loading"> -->
      <div class="card">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="card">
            <th mat-header-cell *matHeaderCellDef class="card">
              {{ t('card') }}
            </th>
            <td mat-cell *matCellDef="let element" class="card">
              {{ element.card }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nameAnimal">
            <th mat-header-cell *matHeaderCellDef class="nameAnimal">
              {{ t('Name animal') }}
            </th>
            <td mat-cell *matCellDef="let element" class="nameAnimal">
              {{ element.nameAnimal }}
            </td>
          </ng-container>

          <ng-container matColumnDef="breed">
            <th mat-header-cell *matHeaderCellDef class="breed">
              {{ t('Breed') }}
            </th>
            <td mat-cell *matCellDef="let element" class="breed">
              {{ element.breed }}
            </td>
          </ng-container>

          <ng-container matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef class="dateOfBirth">
              {{ t('Date of birth') }}
            </th>
            <td mat-cell *matCellDef="let element" class="dateOfBirth">
              {{ element.dateOfBirth }}
            </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef class="lastName">
              {{ t('Last name') }}
            </th>
            <td mat-cell *matCellDef="let element" class="lastName">
              {{ element.lastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef class="firstName">
              {{ t('First name') }}
            </th>
            <td mat-cell *matCellDef="let element" class="firstName">
              {{ element.firstName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef class="address">
              {{ t('Address') }}
            </th>
            <td mat-cell *matCellDef="let element" class="address">
              {{ element.address }}
            </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef class="city">
              {{ t('City') }}
            </th>
            <td mat-cell *matCellDef="let element" class="city">
              {{ element.warning }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actionHealthRecordAnimals">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="actionHealthRecordAnimals"
            >
              {{ t('actionCardOwner') }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="actionHealthRecordAnimals"
            >
              <mat-icon
                class="material-symbols-outlined cursor"
                (click)="$event.stopPropagation(); openPreviewDialog()"
                >visibility</mat-icon
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          #paginator
          [pageSizeOptions]="[4, 6, 8]"
          showFirstLastButtons
        ></mat-paginator>
      </div>

      <!-- </ng-container> -->

      <!-- <ng-template #loading>
          <div class="loading-wrapper">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template> -->
    </div>
  </section>
</ng-container>
