<ng-container *transloco="let t">
  <div class="header-wrapper-dialog">
    <h2 mat-dialog-title>{{ t('Add new medicament') }}</h2>

    <button mat-button (click)="closeDialog()">
      <span class="material-symbols-outlined"> close </span>
    </button>
  </div>

  <form [formGroup]="form">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Medicament') }} </mat-label>
        <input matInput formControlName="medicament" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Alternative Name') }} </mat-label>
        <input matInput formControlName="altName" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Label') }} </mat-label>
        <input matInput formControlName="label" type="number" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Type Medicament') }} </mat-label>
        <input matInput formControlName="typeMedicament" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Only Measure') }} </mat-label>
        <input matInput formControlName="onlyM" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Price') }} </mat-label>
        <input matInput formControlName="price" type="number" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Price 2') }} </mat-label>
        <input matInput formControlName="price2" type="number" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('VAT') }} </mat-label>
        <input matInput formControlName="vat" type="number" />
      </mat-form-field>
    </div>

    <div class="btn-save-wrapper">
      <button mat-raised-button (click)="saveChanges()">
        {{ t('Save') }}
      </button>
    </div>
  </form>
</ng-container>
