<ng-container *transloco="let t">
  <div class="header-wrapper-dialog">
    <h2 mat-dialog-title>{{ t('Edit owner') }}</h2>

    <button mat-button (click)="closeDialog()">
      <span class="material-symbols-outlined"> close </span>
    </button>
  </div>

  <form [formGroup]="form">
    <div class="div-left">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Last Name') }} </mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
    </div>
    <div class="div-left">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('First Name') }} </mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
    </div>

    <div class="div-left">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('City') }} </mat-label>
        <input matInput formControlName="city" />
      </mat-form-field>
    </div>

    <div class="div-left">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Address') }} </mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
    </div>

    <div class="div-left">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Tel') }} </mat-label>
        <input matInput formControlName="tel" />
      </mat-form-field>
    </div>

    <div class="div-left">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Mob') }} </mat-label>
        <input matInput formControlName="mob" />
      </mat-form-field>
    </div>

    <div class="div-left">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('JMBG') }} </mat-label>
        <input matInput formControlName="jmbg" />
      </mat-form-field>
    </div>

    <div class="div-left">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('ID Card Number') }} </mat-label>
        <input matInput formControlName="jmbg" />
      </mat-form-field>
    </div>

    <div style="width: 100%; margin-bottom: 8px">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Email') }} </mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    </div>

    <div style="width: 100%">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Warning') }} </mat-label>
        <textarea matInput formControlName="warning"></textarea>
      </mat-form-field>
    </div>

    <div class="btn-save-wrapper">
      <button mat-raised-button (click)="saveChanges()">
        {{ t('Save') }}
      </button>
    </div>
  </form>
</ng-container>
