<ng-container *transloco="let t">
  <div class="flex justify-content-space-between">
    <mat-list role="list" class="basic">
      <div class="container-mat-list">
        <div class="flex">
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('New') }} <br />
                {{ t('Animal') }}
              </span>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Breeds') }}</mat-list-item
          >
          <mat-list-item role="listitem">
            <div class="container-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Breeds from') }} <br />
                VetUp-a</span
              >
            </div>
          </mat-list-item>
        </div>
        <div>
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Animal') }}</mat-list-item
          >
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Places') }}</mat-list-item
          >
        </div>
        <div>
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Owners') }}</mat-list-item
          >
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Manufacturers of medicaments') }}</mat-list-item
          >
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Press documents') }}</mat-list-item
          >
        </div>
      </div>
      <div class="container-category-title">
        <p class="text-center">
          {{ t('Basic') }}
        </p>
      </div>
    </mat-list>

    <mat-list role="list" class="diagnoses">
      <div class="container-mat-list">
        <div class="flex flex-column">
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Types of diagnosis') }}</mat-list-item
          >
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Types of services') }}</mat-list-item
          >
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Types of medicaments') }}</mat-list-item
          >
        </div>
        <div class="flex">
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Diagnoses') }}</mat-list-item
          >
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Services') }}</mat-list-item
          >
          <mat-list-item role="listitem">
            <span class="material-symbols-outlined"> pets </span
            >{{ t('Medicaments') }}</mat-list-item
          >
          <mat-list-item role="listitem">
            <div class="container-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Export of medicaments') }} <br />
                {{ t('and Service') }}</span
              >
            </div>
          </mat-list-item>
        </div>
      </div>
      <div class="container-category-title">
        <p class="text-center">
          {{ t('Diagnoses, Services and Medicaments') }}
        </p>
      </div>
    </mat-list>

    <mat-list role="list" class="administrative">
      <div>
        <div class="container-mat-list">
          <mat-list-item role="listitem">
            <div class="container-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Administration') }} <br />
                {{ t('user') }}</span
              >
            </div>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><span class="material-symbols-outlined"> pets </span
            >{{ t('Veterinarians') }}</mat-list-item
          >
          <mat-list-item role="listitem"
            ><span class="material-symbols-outlined"> pets </span
            >{{ t('Pharmacies') }}</mat-list-item
          >
          <mat-list-item role="listitem"
            ><span class="material-symbols-outlined"> pets </span
            >{{ t('Infirmaries') }}</mat-list-item
          >
        </div>
      </div>
      <div class="container-category-title">
        <p class="text-center">{{ t('Administrative') }}</p>
      </div>
    </mat-list>
  </div>
</ng-container>
