.two-column {
  display: grid;
  // grid-template-columns: repeat(2, 1fr); izmeni ime klase
  gap: 1rem;
  margin: 24px 24px 16px 24px;
}

.full-row {
  margin: 0px 24px;
  display: flex;
  flex-direction: column;
  mat-form-field {
    width: 100%;
  }
}

.btn-save-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 48px;

  button {
    padding: 24px;
    background: #00142f;
    color: #fff;
    font-weight: 700;
  }
}
.mat-mdc-form-field-subscript-wrapper{
  display: none !important;
}