<ng-container *transloco="let t">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="speciesForm">
      <form [formGroup]="speciesForm">
        <ng-template matStepLabel>{{ t('Species') }}</ng-template>
        <div>
          <div class="row">
            <mat-form-field>
              <mat-label>{{ t('Name Species') }}</mat-label>
              <input
                matInput
                placeholder="Name Species"
                formControlName="name"
              />
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-button matStepperNext>{{ t('Next') }}</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formBreeds" [label]="t('Breeds')">
      <div [formGroup]="formBreeds">
        <div
          #scrollContainer
          class="form-row-container"
          formArrayName="breedsList"
        >
          <div
            class="form-row"
            *ngFor="let row of breedsList.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="form-row-fields">
              <mat-form-field>
                <mat-label>{{ t('Name Breed') }}</mat-label>
                <input
                  matInput
                  placeholder="Name Breed"
                  formControlName="name"
                />
              </mat-form-field>
            </div>
            <div style="display: flex; gap: 16px">
              <button
                mat-raised-button
                class="button-margin"
                (click)="removeRow(i)"
                *ngIf="breedsList.length > 1"
              >
                {{ t('Remove row') }}
              </button>

              <button
                mat-raised-button
                class="button-margin"
                (click)="addRow()"
                [disabled]="i !== breedsList.length - 1 || !isRowFilled(i)"
              >
                {{
                  data && data.data && data.data.breeds
                    ? t('Edit breed')
                    : t('Add new breed')
                }}
              </button>
            </div>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>{{ t('Back') }}</button>
          <button mat-button (click)="saveChanges()">
            {{ t('Done') }}
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</ng-container>
