<ng-container *transloco="let t">
  <div class="header-wrapper-dialog">
    <h2 mat-dialog-title>
      {{ data?.isEdit ? t('Edit breed') : t('Add new breed') }}
    </h2>

    <button mat-button (click)="closeDialog()">
      <span class="material-symbols-outlined"> close </span>
    </button>
  </div>

  <form [formGroup]="form">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('Name breed') }} </mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>

    <div class="btn-save-wrapper">
      <button mat-raised-button (click)="saveChanges()">
        {{ t('Save') }}
      </button>
    </div>
  </form>
</ng-container>
