main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-icons {
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
}
.wrapper {
  background: #fff !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mat-column-email-tel {
  white-space: nowrap !important;
}

.action-column {
  width: 180px;
}

td {
  word-break: break-all;
}

.numberCard {
  width: 5% !important;
}
.name {
  width: 10% !important;
}
.breed {
  width: 8% !important;
}
.warning {
  width: 10% !important;
}
.microchip {
  width: 8% !important;
}
.numberOfPassport {
  width: 8% !important;
}
.Gender {
  width: 9% !important;
}
.Owner {
  width: 16% !important;
}
.Email {
  width: 17% !important;
}

.action {
  width: 10% !important;
}
