section {
  display: flex;
  justify-content: center;
  .wrapper {
    width: calc(100% - 48px);
    margin: 40px;
    background: #fff !important;

    .mat-mdc-table {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px !important;
    }
  }
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-icons {
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
}
.wrapper {
  background: #fff !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.card-animal {
  padding: 16px;
}

.mat-column-email-tel {
  white-space: nowrap !important;
}

.action-column {
  width: 180px;
}

td {
  word-break: break-all;
}

.numberCard {
  width: 5% !important;
}
.name {
  width: 10% !important;
}
.breed {
  width: 8% !important;
}
.warning {
  width: 10% !important;
}
.microchip {
  width: 8% !important;
}
.numberOfPassport {
  width: 8% !important;
}
.Gender {
  width: 9% !important;
}
.Owner {
  width: 16% !important;
}
.Email {
  width: 17% !important;
}

.action {
  width: 10% !important;
}
