<main>
  <ng-container *transloco="let t">
    <section>
      <div
        *ngIf="(isDisplayHistoryCard$ | async) === false; else historyCard"
        class="card-animal"
      >
        <div class="filter-container">
          <mat-form-field appearance="outline">
            <mat-label>{{ t('Search') }} </mat-label>
            <input matInput autocomplete="on" (keyup)="applyFilter($event)" />
          </mat-form-field>
        </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Number Card Column -->
          <ng-container matColumnDef="numberCard">
            <th mat-header-cell *matHeaderCellDef class="numberCard">
              {{ t('Number Card') }}
            </th>
            <td mat-cell *matCellDef="let element" class="numberCard">
              {{ element.numberCard }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="name">
              {{ t('Name') }}
            </th>
            <td mat-cell *matCellDef="let element" class="name">
              {{ element.name }}
            </td>
          </ng-container>

          <!-- Breed Column -->
          <ng-container matColumnDef="breed">
            <th mat-header-cell *matHeaderCellDef class="breed">
              {{ t('Breed') }}
            </th>
            <td mat-cell *matCellDef="let element" class="breed">
              {{ element.breed }}
            </td>
          </ng-container>

          <!-- Gender / Date Of Birth Column -->
          <ng-container matColumnDef="Gender / Date Of Birth">
            <th mat-header-cell *matHeaderCellDef class="gender-date">
              {{ t('Gender / Date Of Birth') }}
            </th>
            <td mat-cell *matCellDef="let element" class="gender-date">
              {{
                element.gender + ', ' + (element.dateOfBirth | date : 'd/M/yy')
              }}
            </td>
          </ng-container>

          <!-- Warning Column -->
          <ng-container matColumnDef="warning">
            <th mat-header-cell *matHeaderCellDef class="warning">
              {{ t('Warning') }}
            </th>
            <td mat-cell *matCellDef="let element" class="warning">
              {{ element.warning }}
            </td>
          </ng-container>

          <!-- Microchip Column -->
          <ng-container matColumnDef="microchip">
            <th mat-header-cell *matHeaderCellDef class="microchip">
              {{ t('Microchip') }}
            </th>
            <td mat-cell *matCellDef="let element" class="microchip">
              {{ element.microchip }}
            </td>
          </ng-container>

          <!-- Number Of Passport Column -->
          <ng-container matColumnDef="numberOfPassport">
            <th mat-header-cell *matHeaderCellDef class="numberOfPassport">
              {{ t('Number Of Passport') }}
            </th>
            <td mat-cell *matCellDef="let element" class="numberOfPassport">
              {{ element.numberOfPassport }}
            </td>
          </ng-container>

          <!-- Owner / Address Column -->
          <ng-container matColumnDef="Owner / Address">
            <th mat-header-cell *matHeaderCellDef class="owner-address">
              {{ t('Owner / Address') }}
            </th>
            <td mat-cell *matCellDef="let element" class="owner-address">
              {{ element.owner + ', ' + element.address }}
            </td>
          </ng-container>

          <!-- Email / Tel Column -->
          <ng-container matColumnDef="Email / Tel">
            <th mat-header-cell *matHeaderCellDef class="email-tel">
              {{ t('Email / Tel') }}
            </th>
            <td mat-cell *matCellDef="let element" class="email-tel">
              {{ element.email + ', ' + element.tel }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="action">
              {{ t('Action') }}
            </th>
            <td mat-cell *matCellDef="let element" class="action">
              <div class="action-icons">
                <mat-icon
                  class="material-symbols-outlined cursor"
                  (click)="openAddReportDialog(element)"
                  >add</mat-icon
                >
                <mat-icon
                  class="material-symbols-outlined cursor"
                  (click)="openEditDialog(element)"
                  >edit</mat-icon
                >
                <mat-icon
                  class="material-symbols-outlined cursor"
                  (click)="toggleHistoryCard()"
                  >visibility</mat-icon
                >
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          #paginator
          [pageSizeOptions]="[4, 6, 8]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
      <ng-template #historyCard>
        <anihis-card-history></anihis-card-history>
      </ng-template>
    </section>
  </ng-container>
</main>
