.row-add-new-clinic {
  display: flex;
  justify-content: end;
  margin: 24px;
  button {
    background: #ead6bd;
    color: #504e63;
    font-weight: 700;
  }
}

.wrapper-table {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.actionClinic {
  width: 10%;
}
