.mat-toolbar.toolbarCustom {
  background-color: $toolbar-background-primary !important;
  color: $toolbar-primary-text !important;
}

.mdc-tab--active {
  background-color: $toolbar-background-primary !important;
  color: $toolbar-primary-text !important;
}

.primary-btn {
  background-color: $toolbar-background-primary !important;
  color: $toolbar-primary-text !important;
}

.secondary-btn {
  background-color: $toolbar-background-primary !important;
  color: $toolbar-primary-text !important;
}

.wrapper-card {
  background-color: $toolbar-background-primary !important;
  color: $toolbar-primary-text !important;
}
