<ng-container *transloco="let t">
  <div class="header-wrapper-dialog">
    <h2 mat-dialog-title>
      {{ t('Preview card owner') }}
    </h2>

    <button mat-button (click)="closeDialog()">
      <span class="material-symbols-outlined"> close </span>
    </button>
  </div>

  <div class="wrapper">
    <div class="row">
      <!-- TODO -->
      <p>Cena rada ukupno :</p>
      <p>Cena leka ukupno :</p>
      <p>Cena ostalih troskova ukupno :</p>
      <p>Fakturisano ukupno :</p>
      <p>Uplaceno ukupno :</p>
    </div>
    <div class="card">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="date">
            {{ t('Date') }}
          </th>
          <td mat-cell *matCellDef="let element" class="date">
            {{ element.date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="record">
          <th mat-header-cell *matHeaderCellDef class="record">
            {{ t('Record') }}
          </th>
          <td mat-cell *matCellDef="let element" class="record">
            {{ element.record }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ordinalNumber">
          <th mat-header-cell *matHeaderCellDef class="ordinalNumber">
            {{ t('Ordinal Number') }}
          </th>
          <td mat-cell *matCellDef="let element" class="ordinalNumber">
            {{ element.ordinalNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="anamnesis">
          <th mat-header-cell *matHeaderCellDef class="anamnesis">
            {{ t('Anamnesis') }}
          </th>
          <td mat-cell *matCellDef="let element" class="anamnesis">
            {{ element.anamnesis }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="name">
            {{ t('name') }}
          </th>
          <td mat-cell *matCellDef="let element" class="name">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="laborCost">
          <th mat-header-cell *matHeaderCellDef class="laborCost">
            {{ t('Labor cost') }}
          </th>
          <td mat-cell *matCellDef="let element" class="laborCost">
            {{ element.laborCost }}
          </td>
        </ng-container>

        <ng-container matColumnDef="priceOfMedicine">
          <th mat-header-cell *matHeaderCellDef class="priceOfMedicine">
            {{ t('Price of the medicine') }}
          </th>
          <td mat-cell *matCellDef="let element" class="priceOfMedicine">
            {{ element.priceOfMedicine }}
          </td>
        </ng-container>

        <ng-container matColumnDef="invoiced">
          <th mat-header-cell *matHeaderCellDef class="invoiced">
            {{ t('Invoiced') }}
          </th>
          <td mat-cell *matCellDef="let element" class="invoiced">
            {{ element.invoiced }}
          </td>
        </ng-container>

        <ng-container matColumnDef="paid">
          <th mat-header-cell *matHeaderCellDef class="paid">
            {{ t('paid') }}
          </th>
          <td mat-cell *matCellDef="let element" class="paid">
            {{ element.paid }}
          </td>
        </ng-container>

        <ng-container matColumnDef="difference">
          <th mat-header-cell *matHeaderCellDef class="difference">
            {{ t('difference') }}
          </th>
          <td mat-cell *matCellDef="let element" class="difference">
            {{ element.difference }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vet">
          <th mat-header-cell *matHeaderCellDef class="vet">
            {{ t('vet') }}
          </th>
          <td mat-cell *matCellDef="let element" class="vet">
            {{ element.vet }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginator
        [pageSizeOptions]="[4, 6, 8]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</ng-container>
