<ng-container *transloco="let t">
  <div style="display: flex; width: 100%; justify-content: flex-end">
    <button mat-raised-button (click)="addNewMedicament()">
      {{ t('Add new medicament') }}
    </button>
  </div>

  <table>
    <thead>
      <tr>
        <th>{{ t('Code') }}</th>
        <th>{{ t('Medicament') }}</th>
        <th class="jm">{{ t('Only measure') }}</th>
        <th>{{ t('Warehouse') }}</th>
        <th>{{ t('Price') }}</th>
        <th>{{ t('Vat') }}</th>
        <th>{{ t('Purchase Price') }}</th>
        <th>{{ t('Purchase Vat') }}</th>
        <th>{{ t('Min Amount') }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="
          let itemType of myForm.controls.items.value as FormArray;
          let i = index
        "
      >
        <ng-container *ngFor="let dataItem of getFormData(i).controls">
          <tr *ngIf="dataItem.value.service">
            <td>{{ dataItem.value.code }}</td>
            <td>{{ dataItem.value.medicament }}</td>
            <td>{{ dataItem.value.onlyMeasure }}</td>
            <td>{{ dataItem.value.warehouse }}</td>
            <td>{{ dataItem.value.price }}</td>
            <td>{{ dataItem.value.vat }}</td>
            <td>{{ dataItem.value.purchasePrice }}</td>
            <td>{{ dataItem.value.purchaseVat }}</td>
            <td>{{ dataItem.value.minAmount }}</td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</ng-container>
