<ng-container *transloco="let t">
  <div class="wrapper">
    <div class="print-wrapper">
      <button mat-raised-button (click)="printPage()">
        {{ t('Print Page') }}
      </button>
    </div>
    <div class="typesOfDiagnosis">
      <mat-accordion *ngFor="let type of typesOfDiagnosis; let i = index">
        <mat-expansion-panel
          (opened)="
            isEmptyArray(type) ? addItem(type) : null; panelOpenStates[i] = true
          "
          (closed)="panelOpenStates[i] = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>{{ type }}</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngIf="panelOpenStates[i]">
            <div>
              <form [formGroup]="myForm">
                <table formArrayName="items">
                  <thead>
                    <tr>
                      <th>{{ t('Code') }}</th>
                      <th>{{ t('Service') }}</th>
                      <th>{{ t('Species') }}</th>
                      <th class="jm">{{ t('Only measure') }}</th>
                      <th>{{ t('Price') }}</th>
                      <th>{{ t('PDV') }}</th>
                      <th>{{ t('Costs') }}</th>
                      <th>{{ t('No print') }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="
                        let item of items.controls;
                        let i = index;
                        let l = last
                      "
                      [formGroupName]="i"
                    >
                      <ng-container
                        formArrayName="data"
                        *ngIf="item.value.type === type"
                      >
                        <tr
                          *ngFor="
                            let dataItem of getFormData(i).controls;
                            let j = index
                          "
                          [formGroupName]="j"
                        >
                          <td>
                            {{ dataItem.get('code')?.value }}
                          </td>
                          <td>
                            <mat-form-field class="example-full-width">
                              <mat-label>{{ t('Service') }}</mat-label>
                              <textarea
                                matInput
                                cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                formControlName="service"
                                [placeholder]="t('Service')"
                              ></textarea>
                            </mat-form-field>
                          </td>

                          <td>
                            <mat-form-field class="example-full-width">
                              <mat-label>{{ t('Species') }}</mat-label>
                              <input
                                matInput
                                [placeholder]="t('Species')"
                                formControlName="species"
                              />
                            </mat-form-field>
                          </td>

                          <td class="jm">
                            <mat-form-field class="jm">
                              <mat-label>{{ t('Only Measure') }}</mat-label>
                              <input
                                matInput
                                [placeholder]="t('Only Measure')"
                                formControlName="onlyMeasure"
                              />
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field class="price">
                              <mat-label>{{ t('Price') }}</mat-label>
                              <input
                                matInput
                                [placeholder]="t('Price')"
                                formControlName="price"
                                type="number"
                              />
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field class="pdv">
                              <mat-label>{{ t('PDV') }}</mat-label>
                              <input
                                matInput
                                [placeholder]="t('PDV')"
                                formControlName="pdv"
                                type="number"
                              />
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field class="example-full-width">
                              <mat-label>{{ t('Costs') }}</mat-label>
                              <input
                                matInput
                                [placeholder]="t('Costs')"
                                formControlName="costs"
                                type="number"
                              />
                            </mat-form-field>
                          </td>
                          <td>
                            <section class="example-section">
                              <mat-checkbox
                                class="example-margin"
                                formControlName="noPrint"
                              ></mat-checkbox>
                            </section>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
                <div class="btn-add-wrapper">
                  <button
                    [disabled]="isAddButtonDisabled(type)"
                    mat-raised-button
                    color="primary"
                    (click)="addItem(type)"
                  >
                    {{ t('Add') }}
                  </button>
                </div>
              </form>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="table-for-print">
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Service</th>
          <th>Species</th>
          <th class="jm">Only measure</th>
          <th>Price</th>
          <th>PDV</th>
          <th>Costs</th>
          <th>No print</th>
          <th>Prak</th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="
            let itemType of myForm.controls.items.value as FormArray;
            let i = index
          "
        >
          <ng-container *ngFor="let dataItem of getFormData(i).controls">
            <tr *ngIf="dataItem.value.service">
              <td>{{ dataItem.value.code }}</td>
              <td>{{ dataItem.value.service }}</td>
              <td>{{ dataItem.value.species }}</td>
              <td>{{ dataItem.value.onlyMeasure }}</td>
              <td>{{ dataItem.value.price }}</td>
              <td>{{ dataItem.value.pdv }}</td>
              <td>{{ dataItem.value.costs }}</td>
              <td>{{ dataItem.value.noPrint }}</td>
              <td>{{ dataItem.value.prak }}</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
