<ng-container *transloco="let t">
  <mat-tab-group
    [selectedIndex]="!isShall && tabs.length ? tabs.length : 0"
    color="accent"
    [disablePagination]="true"
  >
    <mat-tab *ngFor="let tab of tabs">
      <ng-template mat-tab-label>
        <div></div>
        {{ tab }}
        <button
          mat-icon-button
          class="material-symbols-outlined"
          (click)="deleteTab(tab)"
          *ngIf="
            tab !== t('Protocols') &&
              tab !== t('Pharmacy') &&
              tab !== t('Coders');
            else isShallDiv
          "
        >
          <mat-icon>close</mat-icon>
        </button>
        <ng-template #isShallDiv> <div></div> </ng-template>
      </ng-template>
      <ng-container [ngSwitch]="tab">
        <anihis-protocols *ngSwitchCase="t('Protocols')"></anihis-protocols>
        <anihis-pharmacy *ngSwitchCase="t('Pharmacy')"></anihis-pharmacy>
        <anihis-coders *ngSwitchCase="t('Coders')"></anihis-coders>
        <anihis-cards *ngSwitchCase="'Cards'"></anihis-cards>
        <anihis-new-animal *ngSwitchCase="'New animal'"></anihis-new-animal>
        <anihis-types-of-diagnoses
          *ngSwitchCase="'Types of diagnoses'"
        ></anihis-types-of-diagnoses>

        <anihis-types-of-services
          *ngSwitchCase="'Types of services'"
        ></anihis-types-of-services>

        <anihis-types-of-medicaments
          *ngSwitchCase="'Types of medicaments'"
        ></anihis-types-of-medicaments>

        <anihis-manufacturers-of-medicaments
          *ngSwitchCase="'Manufacturers of medicaments'"
        ></anihis-manufacturers-of-medicaments>
        <anihis-species *ngSwitchCase="'Breeds'"></anihis-species>
        <anihis-excellent-vaccinations
          *ngSwitchCase="'Excellent vaccinations'"
        ></anihis-excellent-vaccinations>

        <anihis-daily-reports
          *ngSwitchCase="'Daily reports'"
        ></anihis-daily-reports>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-container>
