<ng-container *transloco="let t">
  <mat-tab-group
    [selectedIndex]="!isShall && tabs.length ? tabs.length : 0"
    color="accent"
    [disablePagination]="true"
  >
    <mat-tab *ngFor="let tab of tabs">
      <ng-template mat-tab-label>
        <div></div>
        {{ tab }}
        <button
          mat-icon-button
          class="material-symbols-outlined"
          (click)="deleteTab(tab)"
          *ngIf="
            tab !== t('Protocols') &&
              tab !== t('Pharmacy') &&
              tab !== t('Coders');
            else isShallDiv
          "
        >
          <mat-icon>close</mat-icon>
        </button>
        <ng-template #isShallDiv> <div></div> </ng-template>
      </ng-template>
      <ng-container [ngSwitch]="tab">
        <anihis-protocols *ngSwitchCase="t('Protocols')"></anihis-protocols>
        <anihis-pharmacy *ngSwitchCase="t('Pharmacy')"></anihis-pharmacy>
        <anihis-coders *ngSwitchCase="t('Coders')"></anihis-coders>
        <anihis-cards *ngSwitchCase="'Cards'"></anihis-cards>
        <anihis-new-animal *ngSwitchCase="'New animal'"></anihis-new-animal>
        <anihis-types-of-diagnoses
          *ngSwitchCase="'Types of diagnoses'"
        ></anihis-types-of-diagnoses>

        <anihis-types-of-services
          *ngSwitchCase="'Types of services'"
        ></anihis-types-of-services>

        <anihis-types-of-medicaments
          *ngSwitchCase="'Types of medicaments'"
        ></anihis-types-of-medicaments>

        <anihis-manufacturers-of-medicaments
          *ngSwitchCase="'Manufacturers of medicaments'"
        ></anihis-manufacturers-of-medicaments>
        <anihis-species *ngSwitchCase="'Breeds'"></anihis-species>
        <anihis-excellent-vaccinations
          *ngSwitchCase="'Excellent vaccinations'"
        ></anihis-excellent-vaccinations>

        <anihis-daily-reports
          *ngSwitchCase="'Daily reports'"
        ></anihis-daily-reports>

        <anihis-black-list *ngSwitchCase="'Black list'"></anihis-black-list>

        <anihis-debtors *ngSwitchCase="'Debtors'"></anihis-debtors>
        <anihis-card-owner *ngSwitchCase="'Card owner'"></anihis-card-owner>
        <anihis-health-record-animals
          *ngSwitchCase="'Health record animals'"
        ></anihis-health-record-animals>
        <anihis-serial-number-confirmation
          *ngSwitchCase="'Serial number confirmation'"
        ></anihis-serial-number-confirmation>

        <anihis-prices-at-confirmations
          *ngSwitchCase="'Prices at confirmations'"
        ></anihis-prices-at-confirmations>
        <anihis-state-pharmacy
          *ngSwitchCase="'State pharmacy'"
        ></anihis-state-pharmacy>
        <anihis-spending-medicaments-groups
          *ngSwitchCase="'Spending medicaments groups'"
        ></anihis-spending-medicaments-groups>
        <anihis-spending-medicaments
          *ngSwitchCase="'Spending medicaments'"
        ></anihis-spending-medicaments>
        <anihis-procurement *ngSwitchCase="'Procurement'"></anihis-procurement>
        <anihis-price-list-medicaments
          *ngSwitchCase="'Price list medicaments'"
        ></anihis-price-list-medicaments>
        <anihis-optimal-lager
          *ngSwitchCase="'Optimal lager'"
        ></anihis-optimal-lager>
        <anihis-obligation-of-the-pharmacy
          *ngSwitchCase="'Obligation of the pharmacy'"
        ></anihis-obligation-of-the-pharmacy>
        <anihis-minimal-lager
          *ngSwitchCase="'Minimal lager'"
        ></anihis-minimal-lager>
        <anihis-medicaments-output
          *ngSwitchCase="'Medicaments output'"
        ></anihis-medicaments-output>
        <anihis-dissolution-of-the-pharmacy
          *ngSwitchCase="'Dissolution of the pharmacy'"
        ></anihis-dissolution-of-the-pharmacy>
        <anihis-card-medicament
          *ngSwitchCase="'Card medicament'"
        ></anihis-card-medicament>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-container>
