<ng-container *transloco="let t">
  <div
    style="
      margin-top: 24px;
      width: 100%;
      display: flex;
      justify-content: center;
    "
  >
    <form [formGroup]="form" style="width: 90%">
      <div class="row" style="gap: 16px">
        <mat-form-field appearance="outline">
          <mat-label>{{ t('Date') }} </mat-label>
          <input matInput formControlName="date" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('Date To') }} </mat-label>
          <input matInput formControlName="dateTo" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('Type of vaccine') }} </mat-label>
          <input matInput formControlName="typeOfVaccine" />
        </mat-form-field>
      </div>
    </form>
  </div>
  <section>
    <div class="wrapper">
      <!-- <ng-container *ngIf="data$ | async as data; else loading"> -->
      <div class="card">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="date">
              {{ t('Date') }}
            </th>
            <td mat-cell *matCellDef="let element" class="date">
              {{ element.date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="ordinalNumber">
            <th mat-header-cell *matHeaderCellDef class="ordinalNumber">
              {{ t('Ordinal Number') }}
            </th>
            <td mat-cell *matCellDef="let element" class="ordinalNumber">
              {{ element.ordinalNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef class="owner">
              {{ t('Owner') }}
            </th>
            <td mat-cell *matCellDef="let element" class="owner">
              {{ element.owner }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef class="phone">
              {{ t('Phone') }}
            </th>
            <td mat-cell *matCellDef="let element" class="phone">
              {{ element.phone }}
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef class="address">
              {{ t('Address') }}
            </th>
            <td mat-cell *matCellDef="let element" class="address">
              {{ element.address }}
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="email">
              {{ t('Email') }}
            </th>
            <td mat-cell *matCellDef="let element" class="email">
              {{ element.email }}
            </td>
          </ng-container>

          <ng-container matColumnDef="species">
            <th mat-header-cell *matHeaderCellDef class="species">
              {{ t('Species') }}
            </th>
            <td mat-cell *matCellDef="let element" class="species">
              {{ element.species }}
            </td>
          </ng-container>

          <ng-container matColumnDef="breed">
            <th mat-header-cell *matHeaderCellDef class="breed">
              {{ t('Breed') }}
            </th>
            <td mat-cell *matCellDef="let element" class="breed">
              {{ element.breed }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="name">
              {{ t('Name') }}
            </th>
            <td mat-cell *matCellDef="let element" class="name">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef class="gender">
              {{ t('Gender') }}
            </th>
            <td mat-cell *matCellDef="let element" class="gender">
              {{ element.gender }}
            </td>
          </ng-container>

          <ng-container matColumnDef="exitusLetalis">
            <th mat-header-cell *matHeaderCellDef class="exitusLetalis">
              {{ t('Exitus Letalis') }}
            </th>
            <td mat-cell *matCellDef="let element" class="exitusLetalis">
              {{ element.exitusLetalis }}
            </td>
          </ng-container>

          <ng-container matColumnDef="typeOfVaccine">
            <th mat-header-cell *matHeaderCellDef class="typeOfVaccine">
              {{ t('Type of vaccine') }}
            </th>
            <td mat-cell *matCellDef="let element" class="typeOfVaccine">
              {{ element.typeOfVaccine }}
            </td>
          </ng-container>

          <ng-container matColumnDef="microchip">
            <th mat-header-cell *matHeaderCellDef class="microchip">
              {{ t('Microchip') }}
            </th>
            <td mat-cell *matCellDef="let element" class="microchip">
              {{ element.microchip }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          #paginator
          [pageSizeOptions]="[4, 6, 8]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
      <!-- </ng-container> -->

      <ng-template #loading>
        <div class="loading-wrapper">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
  </section>
</ng-container>
