<ng-container *transloco="let t">
  <div class="flex justify-content-space-between" *ngIf="lang$ | async">
    <mat-list
      role="list"
      *ngFor="let category of categoryMenu"
      [class]="category.categoryName | lowercase"
    >
      <div class="container-mat-list">
        <div class="flex">
          <mat-list-item *ngFor="let item of category.data">
            <div
              class="column-icon"
              (click)="redirectTo(item.route ? item.route : '/')"
            >
              <span class="material-symbols-outlined"> {{ item.icon }} </span>
              <p>
                {{ t(item.name) }}
                <span *ngIf="item.action" style="white-space: nowrap">
                  {{ '(' + item.action + ')' }}
                </span>
              </p>

              <span *ngIf="item.br">&nbsp;</span>
            </div>
          </mat-list-item>
        </div>
      </div>
      <div class="container-category-title">
        <p class="text-center">
          {{ t(category.categoryName) }}
        </p>
      </div>
    </mat-list>
  </div>
  <div class="tab-content">
    <div></div>
  </div>
</ng-container>
