<ng-container *transloco="let t">
  <div class="flex justify-content-space-between">
    <mat-list role="list" class="clinic">
      <div class="container-mat-list">
        <div class="flex">
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Cards') + ' ' }} <br />
                (F5)
              </span>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('New') }} <br />
                {{ t('animal') + ' ' }} (F8)
              </span>
            </div>
          </mat-list-item>

          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Admission') }} <br />
                {{ t('form') }}
              </span>
            </div>
          </mat-list-item>

          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Animal') }} <br />
                {{ t('from') + ' VetUp-a' }}
              </span>
            </div>
          </mat-list-item>

          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span> {{ t('Reminders') }} <br /> </span>
            </div>
          </mat-list-item>

          <mat-list-item role="listitem ">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Anticipated') }} <br />
                {{ t('controls') }}
              </span>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Excellent') }} <br />
                {{ t('vaccinations') }}
              </span>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Black') }} <br />
                {{ t('list') }}
              </span>
            </div>
          </mat-list-item>
        </div>
      </div>
      <div class="container-category-title">
        <p class="text-center">
          {{ t('Clinic') }}
        </p>
      </div>
    </mat-list>
    <mat-list role="list" class="reports">
      <div class="container-mat-list">
        <div class="flex">
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Daily') }} <br />
                {{ t('reports') }}
              </span>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Debtors') }}
              </span>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Card') }} <br />
                {{ t('owner') }}
              </span>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Health record') }} <br />
                {{ t('animals') }}
              </span>
            </div>
          </mat-list-item>
        </div>
      </div>
      <div class="container-category-title">
        <p class="text-center">
          {{ t('Reports') }}
        </p>
      </div>
    </mat-list>
    <mat-list role="list" class="confirmations">
      <div class="container-mat-list">
        <div class="flex">
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Serial number') }} <br />
                {{ t('confirmation') }}
              </span>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span>
                {{ t('Prices at') }} <br />
                {{ t('confirmations') }}
              </span>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div class="column-icon">
              <span class="material-symbols-outlined"> pets </span>
              <span> P6679633 </span>
            </div>
          </mat-list-item>
        </div>
      </div>
      <div class="container-category-title">
        <p class="text-center">
          {{ t('Rabies certificates') }}
        </p>
      </div>
    </mat-list>
  </div>
</ng-container>
