<ng-container *transloco="let t">
  <!-- TODO KOLONE TREBA DA SE ZAMENE  -->
  <section>
    <div class="wrapper">
      <!-- <ng-container *ngIf="data$ | async as data; else loading"> -->
      <div class="card">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef class="code">
              {{ t('Code') }}
            </th>
            <td mat-cell *matCellDef="let element" class="code">
              {{ element.code }}
            </td>
          </ng-container>

          <ng-container matColumnDef="medicament">
            <th mat-header-cell *matHeaderCellDef class="medicament">
              {{ t('Medicament') }}
            </th>
            <td mat-cell *matCellDef="let element" class="medicament">
              {{ element.medicament }}
            </td>
          </ng-container>

          <ng-container matColumnDef="onlyMeasure">
            <th mat-header-cell *matHeaderCellDef class="onlyMeasure">
              {{ t('Only measure') }}
            </th>
            <td mat-cell *matCellDef="let element" class="onlyMeasure">
              {{ element.onlyMeasure }}
            </td>
          </ng-container>

          <ng-container matColumnDef="warehouse">
            <th mat-header-cell *matHeaderCellDef class="warehouse">
              {{ t('Warehouse') }}
            </th>
            <td mat-cell *matCellDef="let element" class="warehouse">
              {{ element.warehouse }}
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="price">
              {{ t('Price') }}
            </th>
            <td mat-cell *matCellDef="let element" class="price">
              {{ element.price }}
            </td>
          </ng-container>

          <ng-container matColumnDef="vat">
            <th mat-header-cell *matHeaderCellDef class="vat">
              {{ t('VAT') }}
            </th>
            <td mat-cell *matCellDef="let element" class="vat">
              {{ element.vat }}
            </td>
          </ng-container>

          <ng-container matColumnDef="purchasePrice">
            <th mat-header-cell *matHeaderCellDef class="purchasePrice">
              {{ t('Purchase price') }}
            </th>
            <td mat-cell *matCellDef="let element" class="purchasePrice">
              {{ element.purchasePrice }}
            </td>
          </ng-container>

          <ng-container matColumnDef="purchaseVat">
            <th mat-header-cell *matHeaderCellDef class="purchaseVat">
              {{ t('Purchase vat') }}
            </th>
            <td mat-cell *matCellDef="let element" class="purchaseVat">
              {{ element.purchaseVat }}
            </td>
          </ng-container>

          <ng-container matColumnDef="minAmount">
            <th mat-header-cell *matHeaderCellDef class="minAmount">
              {{ t('Min amount') }}
            </th>
            <td mat-cell *matCellDef="let element" class="minAmount">
              {{ element.minAmount }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          #paginator
          [pageSizeOptions]="[4, 6, 8]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
      <!-- </ng-container> -->

      <!-- <ng-template #loading>
              <div class="loading-wrapper">
                <mat-spinner></mat-spinner>
              </div>
            </ng-template> -->
    </div>
  </section>
</ng-container>
