.form-container {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-width {
  width: 90%;
}

.row-gap {
  gap: 16px;
}

.wrapper {
  margin-bottom: 40px;
  background: #fff !important;
  display: flex;
  justify-content: center;
}

.card {
  width: 90%;
}

.owner,
.address,
.mobileNumber,
.personalNumber {
  width: 10% !important;
}
.note {
  width: 60% !important;
}

.action {
  width: 10% !important;
}

td {
  word-break: break-all;
}

// Uklonite neiskorišćene klase
