<ng-container *transloco="let t">
  <div class="form-container">
    <form [formGroup]="form" class="form-width">
      <div class="row row-gap">
        <mat-form-field appearance="outline">
          <mat-label>{{ t('First name') }} </mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('Last name') }} </mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t('Address') }} </mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('City') }} </mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('Phone number') }} </mat-label>
          <input matInput formControlName="phoneNumber" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('Mobile number') }} </mat-label>
          <input matInput formControlName="mobileNumber" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('Warning') }} </mat-label>
          <input matInput formControlName="warning" />
        </mat-form-field>
      </div>
    </form>
  </div>

  <section>
    <div class="wrapper">
      <!-- <ng-container *ngIf="data$ | async as data; else loading"> -->
      <div class="card">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef class="code">
              {{ t('code') }}
            </th>
            <td mat-cell *matCellDef="let element" class="code">
              {{ element.code }}
            </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef class="firstName">
              {{ t('First name') }}
            </th>
            <td mat-cell *matCellDef="let element" class="firstName">
              {{ element.firstName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef class="lastName">
              {{ t('Last name') }}
            </th>
            <td mat-cell *matCellDef="let element" class="lastName">
              {{ element.lastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef class="address">
              {{ t('Address') }}
            </th>
            <td mat-cell *matCellDef="let element" class="address">
              {{ element.address }}
            </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef class="city">
              {{ t('City') }}
            </th>
            <td mat-cell *matCellDef="let element" class="city">
              {{ element.city }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef class="phoneNumber">
              {{ t('Phone number') }}
            </th>
            <td mat-cell *matCellDef="let element" class="phoneNumber">
              {{ element.phoneNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="mobileNumber">
            <th mat-header-cell *matHeaderCellDef class="mobileNumber">
              {{ t('Mobile number') }}
            </th>
            <td mat-cell *matCellDef="let element" class="mobileNumber">
              {{ element.mobileNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="warning">
            <th mat-header-cell *matHeaderCellDef class="warning">
              {{ t('Warning') }}
            </th>
            <td mat-cell *matCellDef="let element" class="warning">
              {{ element.warning }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actionCardOwner">
            <th mat-header-cell *matHeaderCellDef class="actionCardOwner">
              {{ t('actionCardOwner') }}
            </th>
            <td mat-cell *matCellDef="let element" class="actionCardOwner">
              <mat-icon
                class="material-symbols-outlined cursor"
                (click)="$event.stopPropagation(); openPreviewDialog()"
                >visibility</mat-icon
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          #paginator
          [pageSizeOptions]="[4, 6, 8]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
      <!-- </ng-container> -->

      <!-- <ng-template #loading>
        <div class="loading-wrapper">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template> -->
    </div>
  </section>
</ng-container>
