.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
main {
  padding: 16px;
}

.numberCard,
.nameOfClinic,
.licenseNumber,
.dateOfEdit {
  width: 22%;
}

.actionHistoryCard {
  text-align: center;
  width: 10%;
  div {
    display: flex;
    justify-content: space-around;
  }
}
