<ng-container *transloco="let t">
  <anihis-toolbar [currentScreenSize]="currentScreenSize"></anihis-toolbar>
  <ng-container *ngIf="currentScreenSize === 'XLarge'">
    <anihis-tab-groups
      [tabs]="[t('Protocols'), t('Pharmacy'), t('Coders')]"
      [isShall]="true"
      class="shell-tab"
    ></anihis-tab-groups>
  </ng-container>

  <ng-container>
    <ng-template #smallView>
      <div style="display: flex">
        <div style="display: flex">
          <anihis-nav-tree *ngIf="isMenuOpen$ | async"></anihis-nav-tree>
        </div>
        <ng-container>
          <div *ngIf="tabs.length > 0" class="wrapper-card">
            <mat-card style="width: 90%">
              <anihis-tab-groups [tabs]="tabs"></anihis-tab-groups>
            </mat-card>
          </div>
        </ng-container>
      </div>
    </ng-template>

    <ng-container *ngIf="currentScreenSize === 'XLarge'; else smallView">
      <div *ngIf="tabs.length > 0" class="wrapper-card">
        <mat-card style="width: calc(100% - 48px)">
          <anihis-tab-groups [tabs]="tabs"></anihis-tab-groups>
        </mat-card>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
