<ng-container *transloco="let t">
  <anihis-toolbar [currentScreenSize]="currentScreenSize"></anihis-toolbar>
  <anihis-tab-groups
    *ngIf="currentScreenSize === 'XLarge'"
    [tabs]="[t('Protocols'), t('Pharmacy'), t('Coders')]"
    [isShall]="true"
  ></anihis-tab-groups>

  <ng-container>
    <ng-template #smallView>
      <div style="display: flex">
        <div style="display: flex">
          <anihis-nav-tree></anihis-nav-tree>
        </div>
        <ng-container *ngIf="tabsName$ | async as tab">
          <div
            *ngIf="tab.length > 0"
            style="
              display: flex;
              justify-content: center;
              margin-top: 24px;
              margin-bottom: 24px;
              width: 100%;
            "
          >
            <mat-card style="width: 90%">
              <anihis-tab-groups [tabs]="tab"></anihis-tab-groups>
            </mat-card>
          </div>
        </ng-container>
      </div>
    </ng-template>

    <ng-container *ngIf="currentScreenSize === 'XLarge'">
      <ng-container *ngIf="tabsName$ | async as tab">
        <div
          *ngIf="tab.length > 0"
          style="
            display: flex;
            justify-content: center;
            margin-top: 24px;
            margin-bottom: 24px;
          "
        >
          <mat-card style="width: calc(100% - 48px)">
            <anihis-tab-groups [tabs]="tab"></anihis-tab-groups>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="currentScreenSize !== 'XLarge'">
      <div style="width: 100%; display: flex">
        <anihis-nav-tree style="display: flex; width: 25%"></anihis-nav-tree>
        <div style="width: 80%">
          <ng-container *ngIf="tabsName$ | async as tab">
            <div
              *ngIf="tab.length > 0"
              style="display: flex; justify-content: center; margin: 24px"
            >
              <mat-card style="width: 100% !important">
                <anihis-tab-groups [tabs]="tab"></anihis-tab-groups>
              </mat-card>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
