<ng-container *transloco="let t">
  <mat-toolbar>
    <div class="container-logo-wrapper cursor" (click)="redirectTo('/')">
      <span class="material-symbols-outlined"> pet_supplies </span>
      <h1>ANIHIS</h1>
    </div>

    <div class="container-menu">
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        (menuOpened)="menuOpened()"
        (menuClosed)="menuClosed()"
        #menuTrigger="matMenuTrigger"
        [ngClass]="isLangMenuOpen ? 'opacity-element' : ''"
      >
        <img [src]="flagPath" width="24px" height="12px" />
      </button>

      <mat-menu #menu="matMenu">
        <span class="chose-language">{{ t('Choose Language') }}</span>
        <hr />
        <button
          *ngFor="let language of availableLanguages"
          mat-menu-item
          (click)="changeLanguage(language.id)"
        >
          {{ t(language.label) }}
        </button>
      </mat-menu>

      <mat-slide-toggle anihisThemeSwitch [(ngModel)]="isChecked">
        {{ t('Dark mode') }}
      </mat-slide-toggle>
      <span
        *ngIf="currentScreenSize !== 'XLarge'"
        (click)="openMenu()"
        class="material-symbols-outlined cursor"
      >
        {{ isMenuOpen ? 'close' : 'menu' }}
      </span>
    </div>
  </mat-toolbar>
</ng-container>
