.form-container {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;

  .form {
    width: 90%;

    .form-row {
      gap: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .form-field {
        width: 30%;
      }

      .form-button {
        .add-button {
          width: 100%;
          margin-bottom: 22px;
        }
      }
    }
  }
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 24px;
  .row-add {
    display: flex;
    justify-content: flex-end;
    margin: 24px 24px 24px 0px;
  }

  .wrapper {
    margin-bottom: 40px;
    background: #fff !important;
    display: flex;
    justify-content: center;
    .mat-mdc-table {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px !important;
    }

    .card {
      width: 90%;
    }

    td {
      word-break: break-all;
    }
  }
}
